.membership-card {
    overflow: hidden;
    border-radius: 8px;
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
    margin-bottom: 20px;
}

.membership-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.membership-card.selected {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
}

.membership-card .card-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.membership-card .card-footer {
    opacity: 0.7;
}

.action-buttons {
    position: sticky;
    bottom: 20px;
    background-color: rgba(33, 37, 41, 0.9);
    padding: 15px;
    border-radius: 8px;
    z-index: 100;
    width: fit-content;
}

.row-title .members-button {
    width: 150px;
    border: 1px solid #fff;
}
